* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica;
}

header {
  display: flex;
  flex-direction: row;
  min-height: auto;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 10px;
}

#home {
  text-decoration: none;
  color: white;
}

.logo {
  margin: 3px;
}

header h2 {
  padding: 2rem;
}

.search-form {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
}

.search-form input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  height: 40px;
  width: 400px;
  outline: none;
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica;
}
.search-form button {
  border: none;
  /* padding: 0.5rem; */
  margin: 1rem;
  font-size: 1.25rem;
  color: grey;
  cursor: pointer;
  background: white;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  color: grey;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 24px;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-bar {
  background: white;
  display: flex;
  border: 1px solid gray;
  border-radius: 24px;
  height: 48px;
  margin: 0 auto;
  width: 800px;
  align-items: center;
  justify-content: center;
}

.home {
  border: 1px solid gray;
  border-radius: 24px;
  font-size: 1rem;
  padding: 14px;
  margin: 9px;
  background: black;
}
